<div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a routerLink="home"
        routerLinkActive="active"
        class="nav-link active"
        aria-current="page">Home</a>
      </li>

      <li class="nav-item">
        <a routerLink="feature"
        routerLinkActive="active"
        class="nav-link">Features</a>
      </li>

      <li class="nav-item">
        <a  routerLink="about"
        routerLinkActive="active"
        class="nav-link">About</a>
      </li>

      <li class="nav-item">
        <a  routerLink="calcularJuros"
        routerLinkActive="active"
        class="nav-link">Calcular Juros</a>
      </li>

      <li class="nav-item">
        <a  routerLink="exemploDiretivas"
        routerLinkActive="active"
        class="nav-link">Diretivas</a>
      </li>

      <li class="nav-item">
        <a  routerLink="tarefas"
        routerLinkActive="active"
        class="nav-link">Tarefas</a>
      </li>

      <li class="nav-item">
        <a  routerLink="cliente"
        routerLinkActive="active"
        class="nav-link">Clientes</a>
      </li>

    </ul>
  </header>

  <router-outlet></router-outlet>
</div>
