<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Autores</title>
  <link rel="stylesheet" href="about.component.css">
</head>

<body>
  <div class="container text-center">

    <img src="https://t2.tudocdn.net/650474?w=1920"
    alt="Squirtle" class="pokemon-img" width="1000" height="400">

    <div class="pokemon-description mx-auto">
      <p>Ash Ketchum é um personagem fictício da franquia Pokémon, propriedade das empresas Nintendo, Game Freak e Creatures. Criado por Satoshi Tajiri, Ash Ketchum como é conhecido, é o protagonista da série de anime Pokémon. Ash é um treinador Pokémon cujo maior objetivo é o de se tornar o maior Mestre Pokémon do mundo.</p>
    </div>

    <a routerLink="/home" class="btn btn-primary">Voltar</a>

  </div>

</body>

</html>
