
<div class="row">
<div class="col-md-4">
  <div class="card">
    <img src="https://pm1.aminoapps.com/6434/a5f7322cdf21c4de36c7e2c48c926e4c433fe5e4_hq.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Pickachu</h5>
      <p class="card-text">Pokemon eletrico</p>
      <a routerLink="/feature/tema1" class="btn btn-primary">Saiba mais...</a>
    </div>
  </div>
</div>

<div class="col-md-4">
  <div class="card">
    <img src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/004.png"
    class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Charmander</h5>
      <p class="card-text">Pokemon de fogo!</p>
      <a routerLink="/feature/tema2" class="btn btn-primary">Saiba mais...</a>
    </div>
  </div>
</div>

<div class="col-md-4">
  <div class="card">
    <img src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/001.png"
    class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Bubassaur</h5>
      <p class="card-text">Pokemon do tipo planta!</p>
      <a routerLink="/feature/tema3" class="btn btn-primary">Saiba mais...</a>
    </div>
  </div>
</div>

<div class="col-md-4">
  <div class="card">
    <img src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/007.png"
    class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Squirtle</h5>
      <p class="card-text">Pokemon do tipo água!</p>
      <a routerLink="/feature/tema4" class="btn btn-primary">Saiba mais...</a>
    </div>
  </div>
</div>

<div class="col-md-4">
  <div class="card">
    <img src="https://img.pokemondb.net/artwork/large/meowth.jpg"
    class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Meowth</h5>
      <p class="card-text">Pokemon do tipo normal!</p>
      <a routerLink="/feature/tema5" class="btn btn-primary">Saiba mais...</a>
    </div>
  </div>
</div>

</div>



