<div>
  <h1>Lista de Tarefas</h1>
  <ul>
    <!-- Usando *ngFor para iterar sobre o array de tarefas -->
    <li *ngFor="let tarefa of tarefas">

      <!-- Usando ngStyle para aplicar o estilo tachado em tarefas concluídas -->
      <span [ngStyle]="{'text-decoration': tarefa.concluida ? 'line-through' : 'none'}">
        {{ tarefa.descricao }}
      </span>

      <!-- Botão para alternar o estado da tarefa -->
      <button class="btn btn-primary"
      (click)="tarefa.concluida = !tarefa.concluida">
      {{tarefa.concluida ? "Desfazer" : "Concluir"}}
    </button>

    </li>
  </ul>
</div>
