<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Charmander</title>
  <link rel="stylesheet" href="tema2.component.css">
</head>

<body>
  <div class="container text-center">

    <img src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/004.png"
    alt="Charmander" class="pokemon-img" width="500" height="400">

    <div class="pokemon-description mx-auto">
      <p>Charmander, conhecido como Hitokage no Japão, é um espécie de pokémon da franquia Pokémon da Nintendo e da Game Freak. Criado por Atsuko Nishida, Charmander apareceu pela primeira vez no videogame Pokémon Red e Blue e subsequentes, mais tarde aparecendo em vários jogos da franquia.</p>
    </div>

    <a routerLink="/feature" class="btn btn-primary">Voltar</a>

  </div>

</body>

</html>
