<div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">

      <li class="nav-item">
        <a routerLink="home"
        routerLinkActive="active"
        class="nav-link active"
        aria-current="page">Home</a>
      </li>

      <li class="nav-item">
        <a routerLink="calcularmedia"
        routerLinkActive="active"
        class="nav-link active"
        aria-current="page">calcular média</a>
      </li>

      <li class="nav-item">
        <a routerLink="calculadora"
        routerLinkActive="active"
        class="nav-link">calculadora</a>
      </li>

      <li class="nav-item">
        <a  routerLink="apolice"
        routerLinkActive="active"
        class="nav-link">apólice</a>
      </li>

      <li class="nav-item">
        <a  routerLink="conversortemperatura"
        routerLinkActive="active"
        class="nav-link">conversor temperatura</a>
      </li>

      <li class="nav-item">
        <a  routerLink="imc"
        routerLinkActive="active"
        class="nav-link">IMC</a>
      </li>


    </ul>
  </header>

  <router-outlet></router-outlet>
</div>
