body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
    background-color: #e6acf3;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #8f08f6;
    color: rgb(211, 149, 247);
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.footer {
    background-color: #8f08f6;
    color: rgb(211, 149, 247);
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(188, 117, 239);
    border: 1px solid #5a0360;
}

.btn-group .btn {
    margin-left: 5px;
}

h3 {
    color: #403f40;
}

main {
    margin-bottom: 60px;
}

.btn_adicionar{
    color:rgb(76, 4, 128);
    background-color: #b24eec;
}
