<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meowth</title>
  <link rel="stylesheet" href="tema5.component.css">
</head>

<body>
  <div class="container text-center">

    <img src="https://img.pokemondb.net/artwork/large/meowth.jpg"
    alt="Meowth" class="pokemon-img" width="500" height="400">

    <div class="pokemon-description mx-auto">
      <p>Meowth é um Pokémon do tipo Normal introduzido na Primeira Geração. Apresenta na região de Alola uma forma regional do tipo Sombrio.</p>
    </div>

    <a routerLink="/feature" class="btn btn-primary">Voltar</a>

  </div>

</body>

</html>
