<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bubassaur</title>
  <link rel="stylesheet" href="tema3.component.css">
</head>

<body>
  <div class="container text-center">

    <img src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/001.png"
    alt="Bubassaur" class="pokemon-img" width="500" height="400">

    <div class="pokemon-description mx-auto">
      <p>Bulbasaur, chamado de Bulbassauro em português brasileiro, é uma espécie fictícia pertencente à franquia Pokémon da Nintendo. Apareceu pela primeira vez em 1996 nos jogos Pocket Monsters Red & Green, levados ao ocidente como Pokémon Red & Blue.</p>
    </div>

    <a routerLink="/feature" class="btn btn-primary">Voltar</a>

  </div>

</body>

</html>
