<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pikachu</title>
  <link rel="stylesheet" href="tema1.component.css">
</head>

<body>
  <div class="container text-center">

    <img src="https://pm1.aminoapps.com/6434/a5f7322cdf21c4de36c7e2c48c926e4c433fe5e4_hq.jpg"
    alt="Pikachu" class="pokemon-img" width="500" height="400">

    <div class="pokemon-description mx-auto">
      <p>Pikachu é um Pokémon elétrico que tem bolsas nas bochechas que armazenam eletricidade e podem gerar choques elétricos de intensidade variável, até ao nível de poder de um raio. Pikachu usa os seus poderes para atacar os oponentes de longe, por exemplo, com o seu movimento Unite Thunderstorm, que atinge todos os oponentes ao redor com raios poderosos. Pikachu também pode descarregar a energia armazenada nas suas bochechas quando está enfurecido, ou usar a sua cauda em forma de raio para atingir os oponentes e lhes dar uma descarga de eletricidade equivalente a um raio.</p>
    </div>

    <a routerLink="/feature" class="btn btn-primary">Voltar</a>

  </div>

</body>

</html>
