<div class="container">
  <h2>Calculadora de IMC</h2>

  <div class="form-group">
    <label for="peso">Peso (kg):</label>
    <input type="number" id="peso" [(ngModel)]="peso" class="form-control" placeholder="Digite seu peso em kg" />
  </div>

  <div class="form-group">
    <label for="altura">Altura (m):</label>
    <input type="number" id="altura" [(ngModel)]="altura" class="form-control" placeholder="Digite sua altura em metros" />
  </div>

  <button (click)="calcularIMC()" class="btn btn-primary">Calcular</button>

  <div *ngIf="imc !== null" class="resultado">
    <h4>Seu IMC: {{ imc.toFixed(2) }}</h4>
    <h4>Classificação: {{ classificacao }}</h4>
  </div>

  <div style="margin-top: 20px; text-align: center;">
    <a routerLink="/home" class="btn btn-primary">Go Home</a>
  </div>

</div>
