<div class="row">
  <div class="col-md-4" *ngFor="let produto of listProdutos">
    <div class="card">
      <div class="card-body">

        <h5 class="card-title">{{produto.nome}}</h5>
        <h3 class="card-title">{{produto.preco}}</h3>
        <p class="card-text">{{produto.descricao}}</p>

        <a href="#" class="btn btn-primary"
          [ngStyle]="{'background-color': produto.emEstoque == false ? 'gray' : 'blue'}"
          >Comprar</a>
      </div>
    </div>
  </div>

  <div *ngIf="verificarEstoque()" class="semEstoque">
    Nenhum produto disponível no momento
  </div>

</div>
